body {
  background-image: linear-gradient(#b6d9ff, #f49aad);
  width: 100%; /* Set the width to 100% of the viewport */
  height: 100%; /* Set the height to 100% of the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
  

p {
  color: white;
  overflow: hidden;
  
}

  

h1 {
  font-weight: bold;
  color: white;
  text-align: center
}



body.changeColor {
  background-color: #ffe1b6;
}

.fixed-text {
  position: absolute;
  top: 550px; /* Adjust the top position as needed */
  left: 3200px; /* Adjust the left position as needed */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f9f9f9; /* background */
  color: rgb(197, 215, 255); /* text */
  padding: 16px; /* Padding */
  font-size: 16px; /* Font size */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
}

.dropdown-content {
  display: none; /* Hidden by default */
  position: absolute; /* Position it absolutely */
  background-color: #f9f9f9; /* Background color */
  min-width: 160px; /* Minimum width */
  box-shadow: 0px 8px 16px 0px rgba(230, 230, 230, 0.2); /* Box shadow for dropdown */
  z-index: 1; /* Make sure it is above other elements */
}

.dropdown-content a {
  color: rgb(197, 215, 255); /* Text color */
  padding: 12px 16px; /* Padding */
  text-decoration: none; /* Remove underline */
  display: block; /* Display as block */
}

.dropdown-content a:hover {
  background-color: #ffeaf8; /* Background color on hover */
}

.dropdown:hover .dropdown-content {
  display: block; /* Show the dropdown on hover */
}

.dropdown:hover .dropbtn {
  background-color: #ffcbea; /* Change button color on hover */
}